@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.boton{
    -fx-background-color: #2a9d8f;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0.2, 0, 2);
    -fx-font-size: 14px;
}
.boton:hover {
    -fx-cursor: hand;
    -fx-background-color: #21867a;
}

.lblTitulo{
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto", sans-serif;
}

.lblSubtitulo, .opciones{
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.lblInfo{
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-weight: bold;

}

.box{
    -fx-border-color: #d0d5dd;
    -fx-padding: 5;
}

