/* --- CONFIGURACIÓN GENERAL --- */
.root {
    -fx-background-color: #f4f4f4;
}

/* Estilo base para botones */
.button {
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

/* --- TARJETA PRINCIPAL --- */
.card-panel {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 15;
}

/* --- TEXTOS --- */
.label-titulo {
    -fx-text-fill: black;
}

.label-instruccion {
    -fx-text-fill: #707070; /* Gris medio */
}

.label-campo {
    -fx-text-fill: black;
}

.label-estado {
    -fx-text-fill: #5b5b5b; /* Gris oscuro para feedback */
    -fx-font-style: italic;
}

/* --- INPUTS --- */
/* Estilo para el campo de ruta (Solo lectura) */
.input-path {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 5;
    -fx-text-fill: #333333;
}

/* --- BOTONES ESPECÍFICOS --- */
/* Botón Explorar (Azul Oscuro) */
.btn-explorar {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
}
.btn-explorar:hover {
    -fx-background-color: #34495e;
}

/* Botón Registrar (Verde) */
.btn-registrar {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
}
.btn-registrar:hover {
    -fx-background-color: #2ecc71;
}

/* Botón Cancelar (Gris Claro) */
.btn-cancelar {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #7f8c8d;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 4;
}
.btn-cancelar:hover {
    -fx-background-color: #bdc3c7;
    -fx-text-fill: white;
}