@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* --- CONFIGURACIÓN GENERAL --- */
.root {
    -fx-background-color: #f4f4f4;
}


/* --- TARJETA PRINCIPAL --- */
.card-panel {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 15;
}

/* --- TEXTOS --- */
.label-titulo {
    -fx-text-fill: black;
}

.label-instruccion {
    -fx-text-fill: #707070; /* Gris medio */
}

.label-campo {
    -fx-text-fill: black;
}

.label-estado {
    -fx-text-fill: #5b5b5b; /* Gris oscuro para feedback */
    -fx-font-style: italic;
}

/* --- INPUTS --- */
/* Estilo para el campo de ruta (Solo lectura) */
.input-path {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 5;
    -fx-text-fill: #333333;
}

/* --- BOTONES ESPECÍFICOS --- */
/* Botón Explorar (Azul Oscuro) */


/* Botón Registrar (Verde) */
.btn-registrar {
    -fx-background-color: #27ae60;
    -fx-font-family: "Roboto", sans-serif;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-font-size: 14;
}
.btn-registrar:hover {
    -fx-background-color: #2ecc71;
    -fx-cursor: hand;
}

/* Botón Cancelar (Gris Claro) */
