@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.root{
    -fx-font-family: "Roboto", sans-serif;
}


.lblTitulo{
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

.lblSubtitulo{
    -fx-font-weight: bold;
    -fx-font-size: 14;
}



.botonVer{
    -fx-icon-size: 25;
    -fx-background-color: #50af36;
    -fx-background-radius: 20;
}

.botonVer:hover{
    -fx-background-color: #269126;
    -fx-cursor: hand;
}

