@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.lblTitulo,.lblSubtitulo,.lblCedula{
    -fx-font-family: "Roboto", sans-serif;
}

.lblTitulo{
    -fx-font-weight: bold;
    -fx-font-size: 26;
}

.lblSubtitulo{
    -fx-font-size: 16;
}
.lblCedula{
    -fx-font-weight: bold;
    -fx-font-size: 12;
}


