
.btn{
    -fx-background-color: #0a7e73;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0.2, 0, 2);
    -fx-font-size: 14px;
    -fx-font-family: "Roboto", sans-serif;
}

.btn:hover{
    -fx-background-color: #1b655c;
    -fx-cursor: hand;
}

.btnAccion{
    -fx-font-weight: bold;
    -fx-background-color: #f3efee;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0.2, 0, 2);
    -fx-font-size: 13px;

}

.btnAccion:hover{
    -fx-background-color: #b5b8ab;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: #f3efee;
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 16;
}

.text-field:focused {
    -fx-border-color: #009688; /* Borde verde al escribir */
    -fx-background-color: #FDFEFE;
}

.mensajeError{
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 16;
    -fx-text-fill: #c83131;
    -fx-text-alignment: center;
}

.mensajeConfirmacion{
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 16;
    -fx-text-fill: #222bd3;
    -fx-text-alignment: center;
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 6;
    -fx-table-cell-border-color: #e0e4ea;
    -fx-padding: 5;
}

.table-view .column-header {
    -fx-background-color: #0b9f6d;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;

}