@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#fondo{
    -fx-background: linear-gradient(to right,rgba(5, 37, 133, 1) 44%, rgba(8, 89, 1, 1) 85%);
}

#separador{
    -fx-background-color:  linear-gradient(from 0.0% 30.303% to 100.0% 63.6364%, reflect, #21282ba8 0.0%, #284abca3 100.0%);

}

.textField{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(from 0.0% 30.303% to 100.0% 63.6364%, reflect, #21282ba8 0.0%, #284abca3 100.0%);
    -fx-border-color: black;
    -fx-border-width: .3px;
    -fx-prompt-text-fill: #d2c2c2;
    -fx-text-inner-color: #d2c2c2;
}

#botonLogin{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: black;
    -fx-background-color: #9cd4b6 ;
    -fx-font-weight: bold;
    -fx-font-size: 18px;

}

#botonLogin:hover{
    -fx-background-color: #3e8e63 ;
    -fx-cursor: hand;
}

.labels{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: #ececec;
}

#btnPassOlvi{
    -fx-text-fill: #b19c9c;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color:  transparent;
}

#btnPassOlvi:hover{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}