@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.lblTitulo,.lblSubtitulo,.lblCedula{
    -fx-font-family: "Roboto", sans-serif;
}

.lblTitulo{

    -fx-font-family: "Roboto", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 36;
}

.lblSubtitulo{
    -fx-font-size: 16;
}
.textField{
    -fx-background-color: #f3efee;
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 16;
}

