@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



#top{
    -fx-background-color: white;
    -fx-border-width: 1px;
}

#navMenu{
    -fx-background-color: linear-gradient(to bottom right, reflect, rgba(5, 37, 133, 1) 27%, rgba(11, 54, 4, 1) 77%);
    -fx-text-fill: white;
}

#navContenedor{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
#navContenedor .viewport{
    -fx-background-color: transparent;
}

.navBtn{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;


}
.navBtn-activo {
    -fx-background-color: #2a9df4;
    -fx-border-color: transparent transparent transparent #ffffff;
    -fx-border-width: 0 0 0 4px;
}



.navBtn:hover{
    -fx-cursor: hand;
    -fx-text-fill: #a18181;
    -fx-border-width: 0px 0px 0px 2px;
    -fx-border-color: white;
}
.navBtnSeparation{
    -fx-padding: 20px 0 5px 10 ;
}
.navBtnSubmenu:hover,.navBtnSeparation:hover{
    -fx-border-width: 0px 0px 0px 0px;

}


.submenu{
    -fx-padding: 0 0 0 10;
    -fx-spacing: 5;
}

.contenedorMenu{



}
#btnLogOut{
    -fx-background-radius: 20px;
    -fx-background-color: #1e841e;
}

#btnLogOut:hover{
    -fx-background-radius: 20px;
    -fx-cursor: hand;
    -fx-background-color: #1b531b;
}

.label{
    -fx-font-family: "Roboto";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#lblTitulo{
    -fx-font-family: "Roboto";
    -fx-text-fill: black;
}

#imagenFondo{
    -fx-background-image: url(../img/fondo.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.buttonsIcon{
    -fx-icon-color: white;
    -fx-icon-size: 16;
}
.userMdIcon{
    -fx-icon-color: white;
    -fx-icon-size: 60;

}
.stethoscopeIcon{
    -fx-icon-color: black;
    -fx-icon-size: 26;
}

.logOutIcon{
    -fx-icon-color: black;
    -fx-icon-size: 65;
}