@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* --- CONFIGURACIÓN GENERAL --- */
.root {
    -fx-background-color: #F8FAFC; /* Fondo gris muy claro/azulado */
    -fx-font-family: 'Roboto', sans-serif;
}

/* Estilo base para todos los botones */
.button {
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

/* --- CONTENEDOR TIPO TARJETA --- */
.card-container {
    -fx-background-color: white;
    -fx-padding: 25;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 5);
}

/* --- ETIQUETAS (LABELS) --- */
.label-titulo {
    -fx-text-fill: #1E293B; /* Slate oscuro */
}

.label-campo {
    -fx-text-fill: #64748B; /* Slate medio */
    -fx-font-weight: bold;
}

/* --- CAMPOS DE TEXTO (INPUTS) --- */
.input-field {
    -fx-background-radius: 8;
    -fx-border-color: #E2E8F0;
    -fx-border-radius: 8;
    -fx-background-color: white;
}

/* Campo de texto de solo lectura (grisáceo) */
.input-readonly {
    -fx-background-color: #F1F5F9;
}

/* --- TABLA --- */
.table-view-rounded {
    -fx-background-radius: 10;
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 6;
    -fx-table-cell-border-color: #e0e4ea;
    -fx-padding: 5;
}
.table-view .column-header {
    -fx-background-color: #10B981;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;

}

/* --- BOTONES ESPECÍFICOS --- */

/* Botón Buscar (Gris oscuro) */
.btn-buscar {
    -fx-background-color: #10B981;
    -fx-text-fill: white;
}

.btn-buscar:hover {
    -fx-background-color: #08714e;
}

/* Botón Modificar (Gris claro) */
.btn-modificar .btn-eliminar {
    -fx-font-weight: bold;
    -fx-background-color: #f3efee;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0.2, 0, 2);
    -fx-font-size: 13px;

}

/* Botón Eliminar (Rojo suave) */



/* Botón Enviar (Verde Esmeralda con sombra) */
.btn-enviar {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-background-color: #10B981;
    -fx-text-fill: white;
    -fx-background-radius: 12; /* Un poco más redondo */

}

/* --- EFECTOS HOVER (Opcional) --- */
.btnAccion:hover{
    -fx-background-color: #b5b8ab;
    -fx-cursor: hand;
}
.btn-enviar:hover { -fx-background-color: #059669; }

.table-cell {
    -fx-alignment: CENTER;
}

/* 2. Centrar los encabezados (títulos de columnas) */
.column-header .label {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: #F1F5F9; /* Fondo gris claro para los encabezados */
}
