/* --- CONFIGURACIÓN GENERAL --- */
.root {
    -fx-background-color: #f4f4f4;
}

/* --- CONTENEDOR PRINCIPAL (TARJETA) --- */
.card-form {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 15;
    /* El padding interno se maneja mejor en el FXML,
       pero el borde y fondo van aquí */
}

/* --- TEXTOS --- */
.label-titulo {
    -fx-text-fill: #000000;
}

.label-descripcion {
    -fx-text-fill: #707070; /* Gris oscuro para subtítulos */
}

.label-campo {
    -fx-text-fill: #2c3e50; /* Color oscuro para nombres de campos */
}

/* --- BOTONES --- */
.button {
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

/* Botón Principal (Registrar) */
.btn-registrar {
        -fx-font-weight: bold;
        -fx-font-size: 12;
        -fx-background-color: #10B981;
        -fx-text-fill: white;
        -fx-background-radius: 12; /* Un poco más redondo */


}

.btn-registrar:hover {
    -fx-background-color: rgba(18, 149, 91, 0.42); /* Un poco más claro al pasar el mouse */
}

/* Botón Secundario (Cancelar) */
.btn-cancelar {
    -fx-background-color: #ecf0f1; /* Gris muy claro */
    -fx-text-fill: #7f8c8d; /* Gris texto */
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 3;
}

.btn-cancelar:hover {
    -fx-background-color: #bdc3c7;
    -fx-text-fill: white;
}

/* --- MENSAJES --- */
.label-mensaje {
    -fx-text-fill: #e74c3c; /* Rojo por defecto para errores, o puedes cambiarlo dinámicamente */
}