@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* --- CONFIGURACIÓN GENERAL --- */
.root {
    -fx-background-color: #f4f4f4;
}

/* Estilo base para todos los botones */
.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

/* --- TARJETAS Y CONTENEDORES --- */
/* Estilo base para los contenedores blancos */
.card-base {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #e0e0e0;
}



/* Cabecera: tiene sombra y padding de 20 */
.card-header {
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 5, 0, 0, 2);
}

/* Formulario: padding de 20 sin sombra */
.card-form {
    -fx-padding: 20;
}

/* Pie de página: padding de 15 */
.card-footer {
    -fx-padding: 15;
}

/* --- TEXTOS --- */
.label-subtitulo {
    -fx-text-fill: #2c3e50; /* Azul oscuro */
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 14;
}

.label-nota {
    -fx-text-fill: #7f8c8d; /* Gris */
    -fx-font-style: italic;
}

/* --- BOTONES ESPECÍFICOS --- */
.btn-agregar {
    -fx-background-color: #0c815b;
    -fx-text-fill: white;
}

.btn-guardar {
    -fx-background-color: #27ae60; /* Verde */
}

/* Efecto hover */
.btn-agregar:hover {
    -fx-background-color: #08714e;
    -fx-cursor: hand;
}
.btn-guardar:hover {
    -fx-background-color: #219150;
}

/* --- TABLAS (TableView) --- */

.table-view .column-header {
    -fx-background-color: #10B981;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;

}

/* 1. Centrar el contenido de TODAS las celdas (filas de datos) */
.table-cell {
    -fx-alignment: CENTER;
}

/* 2. Centrar los encabezados (títulos de columnas) */
.column-header .label {
    -fx-alignment: CENTER;
}