@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* === BOTONES PRINCIPALES === */
.boton{
    -fx-background-color: #2a9d8f;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0.2, 0, 2);
    -fx-font-size: 14px;
}
.botonAnular{
    -fx-background-color: #6a061b;
}

.botonAnular:hover{
    -fx-background-color: #4c0416;

}

.botonReEnviar, .botonVerPdf{
    -fx-background-color: #c59b2f;
}

.botonReEnviar:hover , .botonVerPdf:hover{
    -fx-background-color: #ac8317;
    -fx-cursor: hand;
}

.botonNormal:hover {
    -fx-cursor: hand;
    -fx-background-color: #21867a;
}


table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 6;
    -fx-table-cell-border-color: #e0e4ea;
    -fx-padding: 5;
}
.table-view .column-header {
    -fx-background-color: rgba(20, 120, 77, 0.42);
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
.table-view .table-cell {
    -fx-text-fill: #1d2939;
    -fx-font-size: 12px;
}

.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.lblInformacion{
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-weight: bold;
}

.txtInformacion{
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 12px;
}

.iconos{
    -fx-icon-size: 20;

}

.iconopdf{
    -fx-icon-size: 18;
}

